<h1 class="page-title">Clientes</h1>

<p-card>
  <div class="flex-container action-buttons align-right">
    <input #filter pInputText type="text" placeholder="Filtrar" (input)="tblclientes.filterGlobal(filter.value, 'contains')" />
    <button pButton class="btn-novo" type="button" label="Novo" (click)="novo()"></button>
  </div>
  
  <p-table #tblclientes styleClass="p-datatable-striped" 
    [rowHover]="true" [value]="clientes" responsiveLayout="scroll"
    [globalFilterFields]="['nome']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th><b>Nome</b></th>
        <th [width]="50"></th>
        <th [width]="50"></th>
        <th [width]="50"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{cliente.nome}}</td>
        <td>
          <a href="#">
            <span class="icon"><i class="pi pi-eye"></i></span>
          </a>
        </td>
        <td>
          <a href="#">
            <span class="icon"><i class="pi pi-file-edit"></i></span>
          </a>
        </td>
        <td>
          <a class="btn-remover" href="#">
            <span class="icon"><i class="pi pi-trash"></i></span>
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
