<div class="card">
  <div class="flex grid flex-column card-container align-items-center">
    <div class="col-fixed" style="width: 300px;">
      <h1 class="page-title">Login</h1>

      <form [formGroup]="loginForm" (submit)="login()" class="">
        <div class="grid-nogutter">
          <div class="field col p-float-label p-input-filled">
            <input 
              pInputText 
              type="text" 
              formControlName="username" 
              class="w-full border-round"> 
            <label for="name">Usuário</label>
          </div>

          <div class="field col p-float-label p-input-filled">
            <input 
              pInputText 
              type="password" 
              formControlName="password" 
              class="w-full border-round"> 
            <label for="name">Senha</label>
          </div>
        </div>

        <p-divider></p-divider>

        <div class="flex">
          <button 
            pButton
            [disabled]="!loginForm.valid"
            class="flex-initial flex m-1 btn-novo" 
            type="submit" 
            label="Acessar" 
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>