<h1 class="page-title">Clientes</h1>

<p-card>
  <ng-container *ngIf="clients$ | async as clients">
    <div class="flex justify-content-end">
      <input
        #filter
        class="m-1"
        pInputText
        type="text"
        placeholder="Filtrar"
        (input)="tblclientes.filterGlobal(filter.value, 'contains')"
      />
      <button
        pButton
        class="m-1 btn-novo"
        type="button"
        label="Novo"
        (click)="novo()"
      ></button>
    </div>

    <p-table
      #tblclientes
      styleClass="p-datatable-striped"
      [rowHover]="true"
      [value]="clients"
      responsiveLayout="scroll"
      [globalFilterFields]="['name']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th><b>Nome</b></th>
          <th><b>CPF/CNPJ</b></th>
          <th><b>Tipo</b></th>
          <th [width]="50"></th>
          <th [width]="50"></th>
          <th [width]="50"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-client>
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.cpfCnpj | cpfCnpj }}</td>
          <td>{{ client.type }}</td>
          <td>
            <a href="javascript:void(0)" (click)="onView(client)">
              <span class="icon"><i class="pi pi-eye"></i></span>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" (click)="onEdit(client)">
              <span class="icon"><i class="pi pi-file-edit"></i></span>
            </a>
          </td>
          <td>
            <a
              (click)="onDelete(client)"
              href="javascript:void(0);"
              class="btn-remover"
            >
              <span class="icon"><i class="pi pi-trash"></i></span>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</p-card>
