<h5>Dados Básicos</h5>
  
<div class="grid-nogutter">
  <div class="field col-6 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPj?.corporateName" class="w-full">
    <label>Razão Social</label>
  </div>

  <div class="field col-2 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPj?.cnpj | cnpj" class="w-full">
    <label>CNPJ</label>
  </div>

  <div class="field col-6 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPj?.address" class="w-full">
    <label>Endereço</label>
  </div>
</div>

<h5>Contatos</h5>

<div class="grid-nogutter">
  <div class="field col-3 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPj?.email" class="w-full">
    <label>E-mail</label>
  </div>

  <div class="field col-3 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPj?.phone | phone" class="w-full">
    <label>Telefone</label>
  </div>
</div>