<div class="sidebar">
  <div class="profile">
    <img src="../assets/duo-logo.png" alt="DUO">
    <h3>Bárbara Consuelo</h3>
    <p>Admin</p>
  </div>

  <ul>
    <li>
      <a href="#" routerLink="/home" routerLinkActive="active">
        <span class="icon"><i class="pi pi-home"></i></span>
        <span class="item">Início</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/clientes" routerLinkActive="active">
        <span class="icon"><i class="pi pi-users"></i></span>
        <span class="item">Clientes</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="pi pi-cog"></i></span>
        <span class="item">Serviços</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="pi pi-calendar"></i></span>
        <span class="item">Calendário</span>
      </a>
    </li>
  </ul>
</div>