<h1 class="page-title">Gestão de Rede Social - Novo plano</h1>

<p-card>
  <form [formGroup]="createServiceForm" (submit)="salvar()">
    <h5>Dados Básicos</h5>
    
    <div class="grid-nogutter">
      <div class="field col-6 p-float-label p-input-filled">
        <input 
          pInputText 
          id="name" 
          type="text" 
          formControlName="name" 
          class="w-full border-round">
        <label for="name">Nome</label>
      </div>
  
      <div class="field col-6 p-float-label p-input-filled">
        <textarea
          pInputTextarea
          formControlName="description"
          id="description" 
          rows="5" 
          cols="100"
          class="w-full border-round"
          maxlength="255">
        </textarea>
        <label for="cpf">Descrição</label>
      </div>

      <div class="field col-2 p-float-label p-input-filled">
        <p-inputNumber
          inputId="price"
          formControlName="weekFrequency"
          mode="decimal"
          [min]="0" [max]="10"
          [showButtons]="true">
        </p-inputNumber>
        <label for="cpf">Frequência semanal</label>
      </div>

      <div class="field col-6 p-float-label p-input-filled">
        <p-selectButton 
          [options]="planTypes"
          formControlName="type" 
          optionLabel="label" 
          optionValue="value"
        ></p-selectButton>
      </div>

      <div class="field col-2 p-float-label p-input-filled">
        <p-inputNumber
          inputId="price"
          formControlName="price"
          mode="decimal"
          currency="BRL"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2">
        </p-inputNumber>
        <label for="cpf">Valor</label>
      </div>
    </div>
  
    <p-divider></p-divider>
  
    <div class="flex">
      <button 
        pButton
        [disabled]="!createServiceForm.valid"
        class="flex-initial flex m-1 btn-novo" 
        type="submit" 
        label="Salvar" 
      ></button>
  
      <button 
        pButton 
        class="flex-initial flex m-1 btn-novo p-button-outlined" 
        type="button" 
        label="Cancelar" 
        (click)="cancelar()"
      ></button>
    </div>
  </form>  
</p-card>
