<h5>Dados Básicos</h5>
  
<div class="grid-nogutter">
  <div class="field col-6 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPf?.name" class="w-full">
    <label>Nome</label>
  </div>

  <div class="field col-2 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPf?.cpf | cpf" class="w-full">
    <label>CPF</label>
  </div>

  <div class="field col-6 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPf?.address" class="w-full">
    <label>Endereço</label>
  </div>
</div>

<h5>Contatos</h5>

<div class="grid-nogutter">
  <div class="field col-3 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPf?.email" class="w-full">
    <label>E-mail</label>
  </div>

  <div class="field col-3 p-float-label p-input-filled">
    <input pInputText type="text" readonly [ngModel]="clientPf?.phone | phone" class="w-full">
    <label>Telefone</label>
  </div>
</div>
