/* INICIO - navbar */
:host .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: flex-end;
}

:host .top_navbar .nav_bar_item {
  padding-bottom: 10px;
}

:host .top_navbar .nav_bar_item a{
  font-size: 28px;
  color: #f4fbff;
}

:host .top_navbar .nav_bar_item a:hover{
  color: #a2ecff;
}
/* FIM - navbar */